/** General Styling Rules **/
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.mp-flex {
	display: flex;
}

.mp-flex.mp-flex-jc-sb {
	justify-content: space-between;
}

/** Admin styling **/
.mp-checkbox-wrap * {
    box-sizing: border-box;
}
.mp-checkbox-wrap {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    line-height: 1;
}
.mp-checkbox-wrap .mp-checkbox-toggler {
	position: relative;
}
.mp-checkbox-wrap .mp-checkbox-toggler:before {
    content: '';
    border: 1px solid #bdc3c7;
    border-radius: 60px;
    width: 4em;
    box-sizing: unset;
    height: calc(1.5em + 2px);
    position: absolute;
    top: 0;
    top: calc((0% - (100% - 1em)) - 16%);
    z-index: 0;
	transition: all .5s ease;
}
.mp-checkbox-wrap .mp-checkbox-toggler label {
    text-indent: 5em;
	position: initial;
	display: inline-block;
	font-weight: 400;
	margin: 0;
	text-indent: 5em;
	min-width: calc(1em + 2px);
}
.mp-checkbox-wrap input {
	position: absolute;
    left: 0;
    top: 0;
	min-width: 2em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
	cursor: pointer;
}
.mp-checkbox-wrap .mp-checkbox-toggler label:before {
    border-color: #bdc3c7;
}
.mp-checkbox-wrap .mp-checkbox-toggler label:after, .mp-checkbox-wrap .mp-checkbox-toggler label:before {
    content: '';
    width: calc(1.5em + 2px);
    height: calc(1.5em + 2px);
    display: block;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    top: calc((0% - (100% - 1em)) - 10.4%);
	background-color: transparent;
    border-radius: 100%;
    left: 0;
	transform: scale(.8);
	transition: all .5s ease;
}
.mp-checkbox-wrap input:checked ~ .mp-checkbox-toggler label:after {
    background-color: #fff;
    left: 2.4em;
}
.mp-checkbox-wrap .mp-checkbox-toggler label:after {
    background-color: #bdc3c7;
}

.mp-checkbox-wrap input:checked ~ .mp-checkbox-toggler:before {
	transition: all 0.5s ease 0.2s;
	border-color: #8e24aa;
	background-color: #8e24aa;
}

.mp-admin-blocks-wrap {
	padding: 20px 50px;
}
.mp-admin-block {
    width: 300px;
    background: linear-gradient(60deg,#ab47bc,#8e24aa);
    padding: 20px 50px;
    border-radius: 4px;
	box-shadow: 1px 1px 20px -8px #000;
	transition: all 0.3s linear;
}
.mp-admin-block:hover {
	box-shadow: 1px 1px 20px -3px #000;
}
.mp-admin-block:hover .mp-admin-block__title {
	color: #FFF;
}
.mp-admin-block:hover .mp-admin-block__title:after {
	width: 150px;
	border-color: #FFF;
}
.mp-admin-block__title {
	font-size: 2em;
	line-height: 1em;
	color: #e8e8e8;
	user-select: none;
	position: relative;
	transition: all 0.3s linear;
}
.mp-admin-block__title:after {
    left: 0;
    content: '';
    width: 100px;
    bottom: -10px;
    display: block;
    position: absolute;
	border-radius: 10px;
	transition: all 0.3s linear;
    border-bottom: 3px solid #e8e8e8;
}
.mp-admin-block__content li {
	color: #fff;
    font-size: 14px;
	line-height: 2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mp-admin-block__content li strong {
	text-transform: capitalize;
	color: #ffd700;
}
.mp-admin-block__link {
	text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
	color: rgba(255, 235, 59, 0.77);
}
.mp-admin-block__link:hover {
	color: rgba(255, 235, 59, 1);
}
